<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width:device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Content/Site.css" />
    <link href="~/Content/StyleSheet1.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bootstrap/css")
    <title>@ViewBag.Title - Meu Aplicativo ASP.NET</title>
    <style>
        .ajuste {
            position: relative;
            left: 70px;
            text-align: justify;
        }

            .ajuste h3 {
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            }
    </style>

</head>
<body>

    <header>
        <div id="header">
            <div id="menu-mobile-mask" class="visible-xs"></div>
            <button type="button" class="btn btn-close"><i class="fa fa-close"></i></button>
        </div>

        <!-- </div>
     <div align="left"">
     <div class="container">
         <img id="logotipo" />
     </div>
     </div>-->

        <div class="header-black">

            <div class="container">

                <button id="btn-bars" type="button"><i class="fa fa-bars"></i></button>
                <button id="btn-search" type="button"><i class="fa fa-search"></i></button>


            </div>

        </div>

        <div class="container">

            <div class="row">

                <nav id="menu" class="pull-right">
                    <ul>
                        <li>@Html.ActionLink("InterClass", "Home", "Home")</li>
                        <li>@Html.ActionLink("Sobre nós", "Sobre", "Home")</li>
                        <li>@Html.ActionLink("Planos", "Index", "Plano")</li>
                        <li>@Html.ActionLink("Pacotes", "Index", "Pacote")</li>
                        <li>@Html.ActionLink("Seguros", "Index", "Seguro")</li>
                        <li>@Html.ActionLink("Orçamento", "Index", "Orcamento")</li>
                        <li>@Html.ActionLink("Agenda", "Index", "Agenda")</li>
                        <li>@Html.ActionLink("Cadastre-se", "Cadastro", "Cliente")</li>
                        <li>@Html.ActionLink("Login", "Login", "Home")</li>
                    </ul>
                </nav>
                        
            </div>
        </div>

    </header>

    <section>

        <div id="banner">

            <h1>INTERCLASS<small>TE GARANTIMOS UMA EXPERIÊNCIA CLASSE A!!</small></h1>

        </div>
    </section>
    @RenderBody()
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - Meu Aplicativo ASP.NET</p>
    </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/owl.carousel/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/js/efeitos.js"></script>

</body>
</html>
